Django==3.2.17
djaodjin-deployutils==0.10.0

# testsite-only
coverage==4.0.3
django-debug-toolbar==1.11.1 # This version works with Py2, Django>=1.11 (incl. 2.2)
django-extensions==2.2.5
djaodjin-rules==0.2.9
gunicorn==19.7.1
